# Project 13 - Anthony Micco

**TA Help:** N/A
    
**Collaboration:** N/A

## Question 1

In [1]:
#importing polars
import polars as pl

In [2]:
# reading in file to see column values
myDF = pl.read_csv("/anvil/projects/tdm/data/taxi/yellow/yellow_tripdata_2009-05.csv", columns=['Trip_Pickup_DateTime', 'Start_Lon', 'Start_Lat'])
myDF.head()

shape: (5, 3)
┌──────────────────────┬────────────┬───────────┐
│ Trip_Pickup_DateTime ┆ Start_Lon  ┆ Start_Lat │
│ ---                  ┆ ---        ┆ ---       │
│ str                  ┆ f64        ┆ f64       │
╞══════════════════════╪════════════╪═══════════╡
│ 2009-05-27 07:41:05  ┆ -73.974105 ┆ 40.742892 │
│ 2009-05-27 07:51:06  ┆ -74.008148 ┆ 40.738854 │
│ 2009-05-15 15:22:02  ┆ -73.973343 ┆ 40.764047 │
│ 2009-05-26 22:06:37  ┆ -74.005256 ┆ 40.71973  │
│ 2009-05-27 12:51:39  ┆ -73.997714 ┆ 40.741363 │
└──────────────────────┴────────────┴───────────┘

In [3]:
#recreating project 11 question 1 using Polars

#defining redone function
def extractdate(year:str, month:str, day:str):
    #reading in the correct csv based on user input
    myDF = pl.read_csv(f"/anvil/projects/tdm/data/taxi/yellow/yellow_tripdata_{year}-{month}.csv", columns=['Trip_Pickup_DateTime', 'Start_Lon', 'Start_Lat'])

    #returning the dataframe
    return myDF

In [4]:
#calling the function with the date 08-14-2009 
extractdate("2009", "08", "14")

shape: (13_686_520, 3)
┌──────────────────────┬────────────┬───────────┐
│ Trip_Pickup_DateTime ┆ Start_Lon  ┆ Start_Lat │
│ ---                  ┆ ---        ┆ ---       │
│ str                  ┆ f64        ┆ f64       │
╞══════════════════════╪════════════╪═══════════╡
│ 2009-08-12 07:28:00  ┆ 0.0        ┆ 0.0       │
│ 2009-08-12 12:03:00  ┆ -73.964567 ┆ 40.772907 │
│ 2009-08-12 17:42:00  ┆ -73.949728 ┆ 40.78452  │
│ 2009-08-11 09:34:00  ┆ -73.955885 ┆ 40.782272 │
│ …                    ┆ …          ┆ …         │
│ 2009-08-11 17:53:00  ┆ -73.988997 ┆ 40.757995 │
│ 2009-08-11 06:44:00  ┆ -73.997953 ┆ 40.735693 │
│ 2009-08-11 15:24:00  ┆ -73.972078 ┆ 40.760098 │
│ 2009-08-03 20:40:00  ┆ -73.96381  ┆ 40.761503 │
└──────────────────────┴────────────┴───────────┘

## Question 2

In [5]:
#recreating project 11 question 2 using Polars

#revising the function in Polars
def extractdateV2(year:str, month:str, day:str):
    
    #reading in data from correct dataframe
    myDF = pl.read_csv(f"/anvil/projects/tdm/data/taxi/yellow/yellow_tripdata_{year}-{month}.csv", columns=['Trip_Pickup_DateTime', 'Start_Lon', 'Start_Lat'])
    
    #checking to make sure the date input is correct
    newDF = myDF.filter(myDF['Trip_Pickup_DateTime'].str.to_datetime("%Y-%m-%d %H:%M:%S").dt.year().eq(year)
           & myDF['Trip_Pickup_DateTime'].str.to_datetime("%Y-%m-%d %H:%M:%S").dt.month().eq(month)
           & myDF['Trip_Pickup_DateTime'].str.to_datetime("%Y-%m-%d %H:%M:%S").dt.day().eq(day))
    x = f"newDF shape is: {newDF.shape}"
    y = f"myDF shape is: {myDF.shape}"
    # Return the filtered DataFrame if there are matching records
    return x, y, newDF

In [6]:
#returning the data from May 29, 2009
extractdateV2("2009", "05", "29")

('newDF shape is: (523947, 3)',
 'myDF shape is: (14796313, 3)',
 shape: (523_947, 3)
 ┌──────────────────────┬────────────┬───────────┐
 │ Trip_Pickup_DateTime ┆ Start_Lon  ┆ Start_Lat │
 │ ---                  ┆ ---        ┆ ---       │
 │ str                  ┆ f64        ┆ f64       │
 ╞══════════════════════╪════════════╪═══════════╡
 │ 2009-05-29 11:36:28  ┆ -73.991699 ┆ 40.738751 │
 │ 2009-05-29 22:03:20  ┆ -73.968066 ┆ 40.759642 │
 │ 2009-05-29 02:25:00  ┆ -74.007013 ┆ 40.711895 │
 │ 2009-05-29 00:49:00  ┆ -73.976188 ┆ 40.765588 │
 │ …                    ┆ …          ┆ …         │
 │ 2009-05-29 15:15:52  ┆ -73.959823 ┆ 40.762451 │
 │ 2009-05-29 06:53:22  ┆ -73.962236 ┆ 40.779161 │
 │ 2009-05-29 05:58:24  ┆ -74.001003 ┆ 40.741484 │
 │ 2009-05-29 23:51:28  ┆ -73.965153 ┆ 40.791205 │
 └──────────────────────┴────────────┴───────────┘)

## Question 3

In [7]:
#recreating project 10 question 4

#defining function to get data from a specific year
def getDonations (year: int) -> int:
    #function takes in a year as an integer and returns an integer as well

    #reading in the data from the elections data set
    myDF = pl.read_csv("/anvil/projects/tdm/data/election/itcont"+ str(year) + ".txt", has_header=False, separator='|', columns=[9,14], ignore_errors=True)
    
    #renaming the columns
    myDF = myDF.rename({"column_10": "STATE", "column_15": "TRANSACTION_AMT"})

    #grouping the values by state and finding the total amount of transactions for each state
    myvalue = myDF.group_by('STATE').agg(pl.sum('TRANSACTION_AMT')).sort('TRANSACTION_AMT').tail(10)

    #returning the list of transaction amounts by state
    return myvalue

In [8]:
#checking to see if the function works
getDonations(1980)

shape: (10, 2)
┌───────┬─────────────────┐
│ STATE ┆ TRANSACTION_AMT │
│ ---   ┆ ---             │
│ str   ┆ i64             │
╞═══════╪═════════════════╡
│ CT    ┆ 5328197         │
│ DC    ┆ 5689543         │
│ PA    ┆ 5705339         │
│ OH    ┆ 7237330         │
│ …     ┆ …               │
│ null  ┆ 17916669        │
│ NY    ┆ 18673301        │
│ CA    ┆ 24085171        │
│ TX    ┆ 24472610        │
└───────┴─────────────────┘

In [9]:
#getting a list of the transactions from 1980 to 2019
dfs = [ getDonations(year) for year in range(1980, 2019, 2) ]

In [10]:
#combining all the dataframes from each year
total = pl.concat(dfs)

In [11]:
#grouping the dataframes by state and calculating the total transaction amount and sorting to find the top 10
totalsByState = (
    total.group_by('STATE').agg(pl.sum('TRANSACTION_AMT')).sort('TRANSACTION_AMT').tail(10)
)

In [12]:
print(totalsByState)

shape: (10, 2)
┌───────┬─────────────────┐
│ STATE ┆ TRANSACTION_AMT │
│ ---   ┆ ---             │
│ str   ┆ i64             │
╞═══════╪═════════════════╡
│ null  ┆ 502225389       │
│ MA    ┆ 719473707       │
│ PA    ┆ 1136956738      │
│ VA    ┆ 1193204662      │
│ …     ┆ …               │
│ DC    ┆ 2366870148      │
│ TX    ┆ 2619004280      │
│ NY    ┆ 3790392098      │
│ CA    ┆ 4822789131      │
└───────┴─────────────────┘

## Question 4

In [13]:
# recreating project 10 question 1 in Polars

#reading in an example of one year of data (1990)
myDF = pl.read_csv("/anvil/projects/tdm/data/flights/subset/1990.csv", columns=[16])
print(myDF)

shape: (5_270_893, 1)
┌────────┐
│ Origin │
│ ---    │
│ str    │
╞════════╡
│ CMH    │
│ CMH    │
│ CMH    │
│ CMH    │
│ …      │
│ SLC    │
│ SLC    │
│ SLC    │
│ SLC    │
└────────┘

In [14]:
#recreating function using polars to get data from any year
def getDataFromYear(year: int) -> int:
    #function takes in a year as an integer and returns an integer as well

    #read in the data set using the year inputted by converting the int to a string
    myDF = pl.read_csv("/anvil/projects/tdm/data/flights/subset/"+str(year)+".csv", columns=[16])

    #determine the number of values at each origin airport in the data set
    myvalue = myDF['Origin'].value_counts()

    #return the list of values
    return myvalue

In [15]:
#checking to see if the function works
print(getDataFromYear(2000))

shape: (206, 2)
┌────────┬────────┐
│ Origin ┆ counts │
│ ---    ┆ ---    │
│ str    ┆ u32    │
╞════════╪════════╡
│ KTN    ┆ 2507   │
│ ITH    ┆ 1407   │
│ LEX    ┆ 3519   │
│ LAN    ┆ 2460   │
│ …      ┆ …      │
│ CAE    ┆ 4885   │
│ BRO    ┆ 55     │
│ GST    ┆ 91     │
│ FAY    ┆ 1414   │
└────────┴────────┘

In [16]:
#creating a list of the results from 1987 to 2008 
dfs = [ getDataFromYear(year) for year in range(1987,2009) ]

In [17]:
#combining all of the results into one large dataset and adding each years data together. 
total = pl.concat(dfs)

In [20]:
#grouping the dataframes by origin and calculating the total count of flights and sorting to find the top 10
totalsByOrigin = (
    total.group_by('Origin').agg(pl.sum('counts')).sort('counts').tail(10)
)

In [21]:
print(totalsByOrigin)

shape: (10, 2)
┌────────┬─────────┐
│ Origin ┆ counts  │
│ ---    ┆ ---     │
│ str    ┆ u32     │
╞════════╪═════════╡
│ STL    ┆ 2667148 │
│ MSP    ┆ 2670366 │
│ IAH    ┆ 2761895 │
│ DTW    ┆ 2873349 │
│ …      ┆ …       │
│ LAX    ┆ 3946884 │
│ DFW    ┆ 5522740 │
│ ATL    ┆ 5823454 │
│ ORD    ┆ 6365070 │
└────────┴─────────┘

## Question 5

In [23]:
#imports
import requests
from lxml import html

In [25]:
#Recreating Project 3 Question 3 Using Polars

#redefining function that takes in a string of a state abbreviation and returns the state parks in that state
def mystateparkinformation(str):
    #scraping data from the url
    myresponse = requests.get(f"https://www.nps.gov/state/{str}/index.htm")
    
    #retrieving the html scraped data
    mytree = html.fromstring(myresponse.content)
    
    #retrieving the type data from the html 
    types = [element.text for element in mytree.xpath('//div[@class="list_left"]/p[@class="list_left__kicker"]')]

    #retrieving the name data from the html
    names = [element.text for element in mytree.xpath('//div[@class="list_left"]/h3/a')]

     #retrieving the location data from the html
    locations = [element.text for element in mytree.xpath('//div[@class="list_left"]/p[@class="list_left__subtitle"]')]

     #retrieving the description data from the html
    paragraphs = [element.text for element in mytree.xpath('//div[@class="list_left"]/p[not(@class="list_left__kicker") and not(@class="list_left__subtitle")]')]

     #creating a data frame using Polars from the scraped data
    myDF = pl.DataFrame({"Type": types, "Name": names, "Location": locations, "Descriptions":paragraphs})

    #returning the df
    return myDF

In [26]:
#finding the state parks in Indiana
mystateparkinformation('in')

shape: (4, 4)
┌─────────────────────┬─────────────────────┬───────────────────┬──────────────────────────────────┐
│ Type                ┆ Name                ┆ Location          ┆ Descriptions                     │
│ ---                 ┆ ---                 ┆ ---               ┆ ---                              │
│ str                 ┆ str                 ┆ str               ┆ str                              │
╞═════════════════════╪═════════════════════╪═══════════════════╪══════════════════════════════════╡
│ National Historical ┆ George Rogers Clark ┆ Vincennes, IN     ┆ The British flag would not be    │
│ Park                ┆                     ┆                   ┆ ra…                              │
│ National Park       ┆ Indiana Dunes       ┆ Porter, IN        ┆ Lake Michigan's might has        │
│                     ┆                     ┆                   ┆ influe…                          │
│ National Historic   ┆ Lewis & Clark       ┆ Sixteen States:   ┆ The Lewis and Clark National     │
│ Trail               ┆                     ┆ IA,ID,IL,IN,KS,K… ┆ His…                             │
│ National Memorial   ┆ Lincoln Boyhood     ┆ Lincoln City, IN  ┆ Abraham Lincoln grew from youth  │
│                     ┆                     ┆                   ┆ …                                │
└─────────────────────┴─────────────────────┴───────────────────┴──────────────────────────────────┘

In [28]:
#finding the state parks in California
mystateparkinformation('ca')

shape: (34, 4)
┌────────────────────────┬────────────────────────┬────────────────────────┬───────────────────────┐
│ Type                   ┆ Name                   ┆ Location               ┆ Descriptions          │
│ ---                    ┆ ---                    ┆ ---                    ┆ ---                   │
│ str                    ┆ str                    ┆ str                    ┆ str                   │
╞════════════════════════╪════════════════════════╪════════════════════════╪═══════════════════════╡
│ null                   ┆ Alcatraz Island        ┆ San Francisco, CA      ┆ Alcatraz reveals      │
│                        ┆                        ┆                        ┆ stories of Amer…      │
│ National Historic      ┆ Butterfield Overland   ┆ MO, AR, OK, TX, NM,    ┆ In 1857, businessman  │
│ Trail                  ┆                        ┆ AZ, CA                 ┆ and transpo…          │
│ National Monument      ┆ Cabrillo               ┆ San Diego, CA          ┆ In 1542, Juan         │
│                        ┆                        ┆                        ┆ Rodriguez Cabrillo…   │
│ National Historic      ┆ California             ┆ Various States         ┆ Follow in the         │
│ Trail                  ┆                        ┆ CA,CO,ID,KS,MO,NE…     ┆ footsteps of over …   │
│ …                      ┆ …                      ┆ …                      ┆ …                     │
│ National Parks         ┆ Sequoia & Kings Canyon ┆ In the southern Sierra ┆ Huge mountains,       │
│                        ┆                        ┆ Nevada in…             ┆ rugged foothills…     │
│ National Monument      ┆ Tule Lake              ┆ Tulelake, CA           ┆ Tule Lake National    │
│                        ┆                        ┆                        ┆ Monument incl…        │
│ National Recreation    ┆ Whiskeytown            ┆ Whiskeytown, CA        ┆ Whiskeytown Lake’s    │
│ Area                   ┆                        ┆                        ┆ crystal-clear…        │
│ National Park          ┆ Yosemite               ┆ the Sierra Nevada, CA  ┆ Not just a great      │
│                        ┆                        ┆                        ┆ valley, but a s…      │
└────────────────────────┴────────────────────────┴────────────────────────┴───────────────────────┘

In [30]:
#finding the state parks in Texas
mystateparkinformation('tx')

shape: (18, 4)
┌────────────────────────┬────────────────────────┬────────────────────────┬───────────────────────┐
│ Type                   ┆ Name                   ┆ Location               ┆ Descriptions          │
│ ---                    ┆ ---                    ┆ ---                    ┆ ---                   │
│ str                    ┆ str                    ┆ str                    ┆ str                   │
╞════════════════════════╪════════════════════════╪════════════════════════╪═══════════════════════╡
│ National Monument      ┆ Alibates Flint         ┆ Fritch, TX             ┆ 13,000 years ago,     │
│                        ┆ Quarries               ┆                        ┆ Alibates was u…       │
│ National Recreation    ┆ Amistad                ┆ Del Rio, TX            ┆ An oasis in the       │
│ Area                   ┆                        ┆                        ┆ desert, Amistad …     │
│ National Park          ┆ Big Bend               ┆ The big bend of the    ┆ There is a place in   │
│                        ┆                        ┆ Rio Grande, …          ┆ Far West Tex…         │
│ National Preserve      ┆ Big Thicket            ┆ Beaumont, TX           ┆ Life of all types     │
│                        ┆                        ┆                        ┆ abounds in the…       │
│ …                      ┆ …                      ┆ …                      ┆ …                     │
│ National Historical    ┆ Palo Alto Battlefield  ┆ Brownsville, TX        ┆ On May 8, 1846, U.S.  │
│ Park                   ┆                        ┆                        ┆ and Mexican…          │
│ Wild & Scenic River    ┆ Rio Grande             ┆ Southwest Texas, TX    ┆ For 196 miles, this   │
│                        ┆                        ┆                        ┆ free-flowing…         │
│ National Historical    ┆ San Antonio Missions   ┆ San Antonio, TX        ┆ Welcome to San        │
│ Park                   ┆                        ┆                        ┆ Antonio Missions,…    │
│ National Monument      ┆ Waco Mammoth           ┆ Waco, TX               ┆ Standing as tall as   │
│                        ┆                        ┆                        ┆ 14 feet and …         │
└────────────────────────┴────────────────────────┴────────────────────────┴───────────────────────┘

In [31]:
#finding the state parks in Ohio
mystateparkinformation('oh')

shape: (10, 4)
┌────────────────────────┬────────────────────────┬────────────────────────┬───────────────────────┐
│ Type                   ┆ Name                   ┆ Location               ┆ Descriptions          │
│ ---                    ┆ ---                    ┆ ---                    ┆ ---                   │
│ str                    ┆ str                    ┆ str                    ┆ str                   │
╞════════════════════════╪════════════════════════╪════════════════════════╪═══════════════════════╡
│ National Monument      ┆ Charles Young Buffalo  ┆ Xenia, OH              ┆ Throughout his life,  │
│                        ┆ Soldiers               ┆                        ┆ Charles You…          │
│ National Park          ┆ Cuyahoga Valley        ┆ Cleveland and Akron,   ┆ Though a short        │
│                        ┆                        ┆ OH                     ┆ distance from the…    │
│ National Historical    ┆ Dayton Aviation        ┆ Dayton, OH             ┆ Dayton Aviation       │
│ Park                   ┆ Heritage               ┆                        ┆ Heritage Nationa…     │
│ National Historic Site ┆ First Ladies           ┆ Canton, OH             ┆ First Ladies National │
│                        ┆                        ┆                        ┆ Historic S…           │
│ …                      ┆ …                      ┆ …                      ┆ …                     │
│ National Historic      ┆ Lewis & Clark          ┆ Sixteen States:        ┆ The Lewis and Clark   │
│ Trail                  ┆                        ┆ IA,ID,IL,IN,KS,K…      ┆ National His…         │
│ National Scenic Trail  ┆ North Country          ┆ Eight States - Vermont ┆ Come to the North     │
│                        ┆                        ┆ to North …             ┆ Country. Trek …       │
│ Memorial               ┆ Perry's Victory &      ┆ Put-in-Bay, OH         ┆ Perry's Victory and   │
│                        ┆ International …        ┆                        ┆ Internationa…         │
│ National Historic Site ┆ William Howard Taft    ┆ Cincinnati, OH         ┆ High atop one of      │
│                        ┆                        ┆                        ┆ Cincinnati's mo…      │
└────────────────────────┴────────────────────────┴────────────────────────┴───────────────────────┘

In [32]:
#finding the state parks in Pennsylvania
mystateparkinformation('pa')

shape: (26, 4)
┌────────────────────────┬────────────────────────┬────────────────────────┬───────────────────────┐
│ Type                   ┆ Name                   ┆ Location               ┆ Descriptions          │
│ ---                    ┆ ---                    ┆ ---                    ┆ ---                   │
│ str                    ┆ str                    ┆ str                    ┆ str                   │
╞════════════════════════╪════════════════════════╪════════════════════════╪═══════════════════════╡
│ National Historic Site ┆ Allegheny Portage      ┆ Gallitzin, PA          ┆ The first railroad to │
│                        ┆ Railroad               ┆                        ┆ cross the …           │
│ National Scenic Trail  ┆ Appalachian            ┆ Maine to Georgia,      ┆ The Appalachian Trail │
│                        ┆                        ┆ CT,GA,MA,MD,ME…        ┆ is a 2,190…           │
│ National Historic      ┆ Captain John Smith     ┆ Various States         ┆ People first arrived  │
│ Trail                  ┆ Chesapeake             ┆ VA,MD,DE,DC,PA,NY…     ┆ in the Ches…          │
│ National Monument      ┆ Carlisle Federal       ┆ PA                     ┆ More than 7,800       │
│                        ┆ Indian Boarding…       ┆                        ┆ children from 14…     │
│ …                      ┆ …                      ┆ …                      ┆ …                     │
│ National Memorial      ┆ Thaddeus Kosciuszko    ┆ Philadelphia, PA       ┆ Visit the house where │
│                        ┆                        ┆                        ┆ wounded Po…           │
│ Scenic & Recreational  ┆ Upper Delaware         ┆ Pike and Wayne (PA)    ┆ Canoe through rapids  │
│ River                  ┆                        ┆ and Delaware…          ┆ and quiet p…          │
│ National Historical    ┆ Valley Forge           ┆ Valley Forge, PA       ┆ Valley Forge is the   │
│ Park                   ┆                        ┆                        ┆ place where …         │
│ National Historic      ┆ Washington-Rochambeau  ┆ MA,RI,CT,NY,NJ,PA,DE,M ┆ In 1781, General      │
│ Trail                  ┆ Revolution…            ┆ D,VA,DC                ┆ Rochambeau’s Fr…      │
└────────────────────────┴────────────────────────┴────────────────────────┴───────────────────────┘

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together – We are Purdue.