# Project 07-- Anthony Micco

**TA Help:** N/A
    
**Collaboration:** N/A

## Question 1

In [1]:
import pandas as pd 
from pathlib import Path

In [12]:
df1880 = pd.read_csv("/anvil/projects/tdm/data/noaa/1880.csv", 
                 header=None,
                 names=["id","date","element_code","value","mflag","qflag","sflag","obstime"])

In [13]:
df1880.columns

Index(['id', 'date', 'element_code', 'value', 'mflag', 'qflag', 'sflag',
       'obstime'],
      dtype='object')

In [14]:
df1880

                 id      date element_code  value mflag qflag sflag  obstime
0       AGE00147705  18800101         PRCP      0   NaN   NaN     E      NaN
1       AGE00147708  18800101         PRCP     36   NaN   NaN     E      NaN
2       AGE00147709  18800101         PRCP     36   NaN   NaN     E      NaN
3       AGE00147712  18800101         PRCP      0   NaN   NaN     E      NaN
4       AGE00147713  18800101         TMAX     52   NaN   NaN     E      NaN
...             ...       ...          ...    ...   ...   ...   ...      ...
370774  USW00093852  18801231         TMAX     39   NaN   NaN     X      NaN
370775  USW00093852  18801231         TMIN    -17   NaN   NaN     X      NaN
370776  USW00094728  18801231         TMAX   -122   NaN   NaN     0      NaN
370777  USW00094728  18801231         TMIN   -194   NaN   NaN     0      NaN
370778  USW00094728  18801231         PRCP      0   NaN   NaN     0      NaN

[370779 rows x 8 columns]

In [16]:
len(df1880[df1880['id'].str.startswith('US')])

48428

In [17]:
df1881 = pd.read_csv("/anvil/projects/tdm/data/noaa/1881.csv", 
                 header=None,
                 names=["id","date","element_code","value","mflag","qflag","sflag","obstime"])

In [19]:
len(df1881[df1881['id'].str.startswith('US')])

48196

In [22]:
df1882 = pd.read_csv("/anvil/projects/tdm/data/noaa/1882.csv", 
                 header=None,
                 names=["id","date","element_code","value","mflag","qflag","sflag","obstime"])

In [24]:
len(df1882[df1882['id'].str.startswith('US')])

50664

In [25]:
df1883 = pd.read_csv("/anvil/projects/tdm/data/noaa/1883.csv", 
                 header=None,
                 names=["id","date","element_code","value","mflag","qflag","sflag","obstime"])

In [27]:
len(df1883[df1883['id'].str.startswith('US')])

52363

In [29]:
usDict = {'1880':48428, '1881':48196,'1882':50664,'1883':52363}

In [32]:
yearsList = [1880, 1881,1882,1883]

def find_us_id(myyears):
    year_dict = {}
    column_title_list=["id","date","element_code","value","mflag","qflag","sflag","obstime"]
    for year in myyears:
        file = Path(f'/anvil/projects/tdm/data/noaa/{year}.csv')
        myDF = pd.read_csv(file, header=None, names=column_title_list)
        x = len(myDF[myDF['id'].str.startswith('US')])
        year_dict[year]=x

    return year_dict

In [33]:
find_us_id(yearsList)

{1880: 48428, 1881: 48196, 1882: 50664, 1883: 52363}

## Question 2

In [36]:
mydescendingdict = dict([key, usDict[key]] for key in sorted(usDict, key=usDict.get, reverse=True))

In [38]:
mydescendingdict

{'1883': 52363, '1882': 50664, '1880': 48428, '1881': 48196}

In [44]:
def find_us_id_desc(myyears):
    year_dict = {}
    column_title_list=["id","date","element_code","value","mflag","qflag","sflag","obstime"]
    for year in myyears:
        file = Path(f'/anvil/projects/tdm/data/noaa/{year}.csv')
        myDF = pd.read_csv(file, header=None, names=column_title_list)
        x = len(myDF[myDF['id'].str.startswith('US')])
        year_dict[year]=x
        
    descendingusdict=dict([key, year_dict[key]] for key in sorted(year_dict, key=year_dict.get, reverse=True))
        
    return descendingusdict

In [45]:
find_us_id_desc(yearsList)

{1883: 52363, 1882: 50664, 1880: 48428, 1881: 48196}

## Question 3

In [49]:
#1880
df = pd.read_csv("/anvil/projects/tdm/data/noaa/1880.csv", 
                 header=None,
                 names=["id","date","element_code","value","mflag","qflag","sflag","obstime"])
len(df[(df['id'].str.startswith('US'))&(df['element_code']=="SNOW")&(df['value']>0)])

203

In [50]:
#1881
df = pd.read_csv("/anvil/projects/tdm/data/noaa/1881.csv", 
                 header=None,
                 names=["id","date","element_code","value","mflag","qflag","sflag","obstime"])
len(df[(df['id'].str.startswith('US'))&(df['element_code']=="SNOW")&(df['value']>0)])

266

In [51]:
#1882
df = pd.read_csv("/anvil/projects/tdm/data/noaa/1882.csv", 
                 header=None,
                 names=["id","date","element_code","value","mflag","qflag","sflag","obstime"])
len(df[(df['id'].str.startswith('US'))&(df['element_code']=="SNOW")&(df['value']>0)])

253

In [53]:
#1883
df = pd.read_csv("/anvil/projects/tdm/data/noaa/1883.csv", 
                 header=None,
                 names=["id","date","element_code","value","mflag","qflag","sflag","obstime"])
len(df[(df['id'].str.startswith('US'))&(df['element_code']=="SNOW")&(df['value']>0)])

187

In [55]:
us_snow_dict = {'1880':203, '1881':266,'1882':253,'1883':187}

In [56]:
def find_us_id_snow(myyears):
    year_dict = {}
    column_title_list=["id","date","element_code","value","mflag","qflag","sflag","obstime"]
    for year in myyears:
        file = Path(f'/anvil/projects/tdm/data/noaa/{year}.csv')
        myDF = pd.read_csv(file, header=None, names=column_title_list)
        x = len(myDF[(myDF['id'].str.startswith('US'))&(myDF['element_code']=="SNOW")&(myDF['value']>0)])
        year_dict[year]=x
        
    return year_dict

In [57]:
find_us_id_snow(yearsList)

{1880: 203, 1881: 266, 1882: 253, 1883: 187}

## Question 4

In [73]:
#1880
df = pd.read_csv("/anvil/projects/tdm/data/noaa/1880.csv", 
                 header=None,
                 names=["id","date","element_code","value","mflag","qflag","sflag","obstime"])
max_id = df[(df['id'].str.startswith('US'))&(df['element_code']=="SNOW")&(df['value']>0)].groupby("id")['value'].idxmax().sort_values(ascending=False)
max_snow_id = max_id.idxmax()
max_snow_id

'USC00319462'

In [74]:
#1881
df = pd.read_csv("/anvil/projects/tdm/data/noaa/1881.csv", 
                 header=None,
                 names=["id","date","element_code","value","mflag","qflag","sflag","obstime"])
max_id = df[(df['id'].str.startswith('US'))&(df['element_code']=="SNOW")&(df['value']>0)].groupby("id")['value'].idxmax().sort_values(ascending=False)
max_snow_id = max_id.idxmax()
max_snow_id

'USC00464045'

In [75]:
#1882
df = pd.read_csv("/anvil/projects/tdm/data/noaa/1882.csv", 
                 header=None,
                 names=["id","date","element_code","value","mflag","qflag","sflag","obstime"])
max_id = df[(df['id'].str.startswith('US'))&(df['element_code']=="SNOW")&(df['value']>0)].groupby("id")['value'].idxmax().sort_values(ascending=False)
max_snow_id = max_id.idxmax()
max_snow_id

'USP00CA0002'

In [77]:
#1883
df = pd.read_csv("/anvil/projects/tdm/data/noaa/1883.csv", 
                 header=None,
                 names=["id","date","element_code","value","mflag","qflag","sflag","obstime"])
max_id = df[(df['id'].str.startswith('US'))&(df['element_code']=="SNOW")&(df['value']>0)].groupby("id")['value'].idxmax().sort_values(ascending=False)
max_snow_id = max_id.idxmax()
max_snow_id

'USC00134049'

In [78]:
id_dict = {'1880':'USC00319462','1881':'USC00464045','1882':'USP00CA0002','1882':'USC00134049'}

In [81]:
def find_max_snow_id(myyears):
    year_dict = {}
    column_title_list=["id","date","element_code","value","mflag","qflag","sflag","obstime"]
    for year in myyears:
        file = Path(f'/anvil/projects/tdm/data/noaa/{year}.csv')
        myDF = pd.read_csv(file, header=None, names=column_title_list)
        max_id = myDF[(myDF['id'].str.startswith('US'))&(myDF['element_code']=="SNOW")&(myDF['value']>0)].groupby("id")['value'].idxmax().sort_values(ascending=False)
        max_snow_id = max_id.idxmax()
        year_dict[year]=max_snow_id
        
    return year_dict

In [82]:
find_max_snow_id(yearsList)

{1880: 'USC00319462',
 1881: 'USC00464045',
 1882: 'USP00CA0002',
 1883: 'USC00134049'}

## Question 5

In [93]:
#1880
df = pd.read_csv("/anvil/projects/tdm/data/noaa/1880.csv", 
                 header=None,
                 names=["id","date","element_code","value","mflag","qflag","sflag","obstime"])
max_id = df[(df['id'].str.startswith('US'))&(df['element_code']=="SNOW")&(df['value']>0)].groupby("id")['value'].sum().sort_values(ascending=False)
total_snow_id = max_id.idxmax()
total_snow_id

'USC00464045'

In [91]:
#1881
df = pd.read_csv("/anvil/projects/tdm/data/noaa/1881.csv", 
                 header=None,
                 names=["id","date","element_code","value","mflag","qflag","sflag","obstime"])
max_id = df[(df['id'].str.startswith('US'))&(df['element_code']=="SNOW")&(df['value']>0)].groupby("id")['value'].sum().sort_values(ascending=False)
total_snow_id = max_id.idxmax()
total_snow_id

'USW00014971'

In [94]:
#1882
df = pd.read_csv("/anvil/projects/tdm/data/noaa/1882.csv", 
                 header=None,
                 names=["id","date","element_code","value","mflag","qflag","sflag","obstime"])
max_id = df[(df['id'].str.startswith('US'))&(df['element_code']=="SNOW")&(df['value']>0)].groupby("id")['value'].sum().sort_values(ascending=False)
total_snow_id = max_id.idxmax()
total_snow_id

'USC00176902'

In [95]:
#1883
df = pd.read_csv("/anvil/projects/tdm/data/noaa/1883.csv", 
                 header=None,
                 names=["id","date","element_code","value","mflag","qflag","sflag","obstime"])
max_id = df[(df['id'].str.startswith('US'))&(df['element_code']=="SNOW")&(df['value']>0)].groupby("id")['value'].sum().sort_values(ascending=False)
total_snow_id = max_id.idxmax()
total_snow_id

'USC00464045'

In [96]:
total_snow_dict = {'1880':'USC00464045', '1881':'USW00014971', '1882':'USC00176902', '1883':'USC00464045'}

In [99]:
def find_total_snow_id(myyears):
    year_dict = {}
    column_title_list=["id","date","element_code","value","mflag","qflag","sflag","obstime"]
    for year in myyears:
        file = Path(f'/anvil/projects/tdm/data/noaa/{year}.csv')
        myDF = pd.read_csv(file, header=None, names=column_title_list)
        max_id = myDF[(myDF['id'].str.startswith('US'))&(myDF['element_code']=="SNOW")&(myDF['value']>0)].groupby("id")['value'].sum().sort_values(ascending=False)
        total_snow_id = max_id.idxmax()
        year_dict[year]=total_snow_id
        
    return year_dict

In [100]:
find_total_snow_id(yearsList)

{1880: 'USC00464045',
 1881: 'USW00014971',
 1882: 'USC00176902',
 1883: 'USC00464045'}

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together – We are Purdue.