# Project 02 -- Anthony Micco

**TA Help:** N/A
    
**Collaboration:** N/A

## Question 1

In [54]:
import requests
from lxml import html

In [55]:
myresponse = requests.get("https://datamine.purdue.edu/about/about-welcome/")

In [56]:
mytree = html.fromstring(myresponse.content)

In [57]:
mytree.xpath('//p[@class = "purdue-home-cta-grid__card-name"]')

[<Element p at 0x7fcd3d3873e0>,
 <Element p at 0x7fcd3d35f2a0>,
 <Element p at 0x7fcd3d346490>,
 <Element p at 0x7fcd3d346b70>,
 <Element p at 0x7fcd3d347430>,
 <Element p at 0x7fcd3d346800>,
 <Element p at 0x7fcd3d3462b0>,
 <Element p at 0x7fcd3d3473e0>,
 <Element p at 0x7fcd3d3477a0>,
 <Element p at 0x7fcd3d3467b0>,
 <Element p at 0x7fcd3d3445f0>,
 <Element p at 0x7fcd3d345e50>,
 <Element p at 0x7fcd3d345e00>,
 <Element p at 0x7fcd3d345d10>,
 <Element p at 0x7fcd3d345db0>,
 <Element p at 0x7fcd3d347660>,
 <Element p at 0x7fcd3d345ea0>,
 <Element p at 0x7fcd3d346710>,
 <Element p at 0x7fcd3d346a80>,
 <Element p at 0x7fcd3d347390>,
 <Element p at 0x7fcd3d345c70>,
 <Element p at 0x7fcd3d347de0>]

In [58]:
import pandas as pd

In [59]:
names = [element.text for element in mytree.xpath('//p[@class = "purdue-home-cta-grid__card-name"]')]

In [60]:
print(names)

['Mark Daniel Ward', 'Kevin Amstutz', 'Ashley Arroyo', 'Donald Barnes', 'Brandt Barnes', 'Maggie Betz', 'Bryce Castle', 'Cai Chen', 'Doug Crabill', 'Peter Dragnev', 'Stacey Dunderman', 'Jessica Gerlach', 'Dan Hirleman', 'Jessica Jud', 'Kali Lacy', 'Gloria Lenfestey', 'Nicholas Lenfestey', 'Naomi Mersinger', 'Kim Rechkemmer', 'Betsy Satchell', 'Shakir Syed', 'Fulya Gokalp Yavuz']

In [61]:
titles = [element.text for element in mytree.xpath('//p[@class = "purdue-home-cta-grid__card-titleline"]')]

In [62]:
print(titles)

['Executive Director', 'Senior Data Scientist', 'Data Science Techincal Specialist', 'Guest Relations Administrator', 'Good Boy', 'Managing Director of The Data Mine at Indianapolis', 'Corporate Partners Technical Specialist', 'Corporate Partners Technical Specialist', 'Senior Data Scientist', 'Corporate Partners Technical Specialist  ', 'Lead Program Administration Specialist', 'Corporate Partners Technical Specialist', 'Regional Director of The Data Mine of the Rockies', 'Senior Manager of Expansion Operations', 'Associate Research Engineer', 'Senior Financial Analyst', 'Corporate Partners Technical Specialist', 'ASL Interpreter / Strategic Initiatives Coordinator', 'Senior Program Administration Specialist', 'Senior Administrative Assistant', 'Managing Director of Corporate Partnerships', 'Director of Data Science']

In [63]:
staffTitlesDF = pd.DataFrame({"Name":names,"Title":titles})

In [64]:
staffTitlesDF

                  Name                                              Title
0     Mark Daniel Ward                                 Executive Director
1        Kevin Amstutz                              Senior Data Scientist
2        Ashley Arroyo                  Data Science Techincal Specialist
3        Donald Barnes                      Guest Relations Administrator
4        Brandt Barnes                                           Good Boy
5          Maggie Betz  Managing Director of The Data Mine at Indianap...
6         Bryce Castle            Corporate Partners Technical Specialist
7             Cai Chen            Corporate Partners Technical Specialist
8         Doug Crabill                              Senior Data Scientist
9        Peter Dragnev          Corporate Partners Technical Specialist
10    Stacey Dunderman             Lead Program Administration Specialist
11     Jessica Gerlach            Corporate Partners Technical Specialist
12        Dan Hirleman  Regional Director of The Data Mine of the Rockies
13         Jessica Jud             Senior Manager of Expansion Operations
14           Kali Lacy                        Associate Research Engineer
15    Gloria Lenfestey                           Senior Financial Analyst
16  Nicholas Lenfestey            Corporate Partners Technical Specialist
17     Naomi Mersinger  ASL Interpreter / Strategic Initiatives Coordi...
18      Kim Rechkemmer           Senior Program Administration Specialist
19      Betsy Satchell                    Senior Administrative Assistant
20         Shakir Syed        Managing Director of Corporate Partnerships
21  Fulya Gokalp Yavuz                           Director of Data Science

## Question 2

In [65]:
myresponse = requests.get('https://www.nps.gov')

In [66]:
mytree = html.fromstring(myresponse.content)

In [67]:
states = [element.text.strip() for element in mytree.xpath('//a[@class = "dropdown-item dropdown-state"]')]

In [68]:
print(states)

['Alabama', 'Alaska', 'American Samoa', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida', 'Georgia', 'Guam', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Northern Mariana Islands', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Puerto Rico', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virgin Islands', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']

In [69]:
hrefs = ['https://www.nps.gov' + element.attrib['href'] for element in mytree.xpath('//a[@class = "dropdown-item dropdown-state"]')]

In [70]:
print(hrefs)

['https://www.nps.gov/state/al/index.htm', 'https://www.nps.gov/state/ak/index.htm', 'https://www.nps.gov/state/as/index.htm', 'https://www.nps.gov/state/az/index.htm', 'https://www.nps.gov/state/ar/index.htm', 'https://www.nps.gov/state/ca/index.htm', 'https://www.nps.gov/state/co/index.htm', 'https://www.nps.gov/state/ct/index.htm', 'https://www.nps.gov/state/de/index.htm', 'https://www.nps.gov/state/dc/index.htm', 'https://www.nps.gov/state/fl/index.htm', 'https://www.nps.gov/state/ga/index.htm', 'https://www.nps.gov/state/gu/index.htm', 'https://www.nps.gov/state/hi/index.htm', 'https://www.nps.gov/state/id/index.htm', 'https://www.nps.gov/state/il/index.htm', 'https://www.nps.gov/state/in/index.htm', 'https://www.nps.gov/state/ia/index.htm', 'https://www.nps.gov/state/ks/index.htm', 'https://www.nps.gov/state/ky/index.htm', 'https://www.nps.gov/state/la/index.htm', 'https://www.nps.gov/state/me/index.htm', 'https://www.nps.gov/state/md/index.htm', 'https://www.nps.gov/state/ma/index.htm', 'https://www.nps.gov/state/mi/index.htm', 'https://www.nps.gov/state/mn/index.htm', 'https://www.nps.gov/state/ms/index.htm', 'https://www.nps.gov/state/mo/index.htm', 'https://www.nps.gov/state/mt/index.htm', 'https://www.nps.gov/state/ne/index.htm', 'https://www.nps.gov/state/nv/index.htm', 'https://www.nps.gov/state/nh/index.htm', 'https://www.nps.gov/state/nj/index.htm', 'https://www.nps.gov/state/nm/index.htm', 'https://www.nps.gov/state/ny/index.htm', 'https://www.nps.gov/state/nc/index.htm', 'https://www.nps.gov/state/nd/index.htm', 'https://www.nps.gov/state/mp/index.htm', 'https://www.nps.gov/state/oh/index.htm', 'https://www.nps.gov/state/ok/index.htm', 'https://www.nps.gov/state/or/index.htm', 'https://www.nps.gov/state/pa/index.htm', 'https://www.nps.gov/state/pr/index.htm', 'https://www.nps.gov/state/ri/index.htm', 'https://www.nps.gov/state/sc/index.htm', 'https://www.nps.gov/state/sd/index.htm', 'https://www.nps.gov/state/tn/index.htm', 'https://www.nps.gov/state/tx/index.htm', 'https://www.nps.gov/state/ut/index.htm', 'https://www.nps.gov/state/vt/index.htm', 'https://www.nps.gov/state/vi/index.htm', 'https://www.nps.gov/state/va/index.htm', 'https://www.nps.gov/state/wa/index.htm', 'https://www.nps.gov/state/wv/index.htm', 'https://www.nps.gov/state/wi/index.htm', 'https://www.nps.gov/state/wy/index.htm']

In [71]:
statesDF = pd.DataFrame({"State": states, "URL" :hrefs})

In [72]:
statesDF

                       State                                     URL
0                    Alabama  https://www.nps.gov/state/al/index.htm
1                     Alaska  https://www.nps.gov/state/ak/index.htm
2             American Samoa  https://www.nps.gov/state/as/index.htm
3                    Arizona  https://www.nps.gov/state/az/index.htm
4                   Arkansas  https://www.nps.gov/state/ar/index.htm
5                 California  https://www.nps.gov/state/ca/index.htm
6                   Colorado  https://www.nps.gov/state/co/index.htm
7                Connecticut  https://www.nps.gov/state/ct/index.htm
8                   Delaware  https://www.nps.gov/state/de/index.htm
9       District of Columbia  https://www.nps.gov/state/dc/index.htm
10                   Florida  https://www.nps.gov/state/fl/index.htm
11                   Georgia  https://www.nps.gov/state/ga/index.htm
12                      Guam  https://www.nps.gov/state/gu/index.htm
13                    Hawaii  https://www.nps.gov/state/hi/index.htm
14                     Idaho  https://www.nps.gov/state/id/index.htm
15                  Illinois  https://www.nps.gov/state/il/index.htm
16                   Indiana  https://www.nps.gov/state/in/index.htm
17                      Iowa  https://www.nps.gov/state/ia/index.htm
18                    Kansas  https://www.nps.gov/state/ks/index.htm
19                  Kentucky  https://www.nps.gov/state/ky/index.htm
20                 Louisiana  https://www.nps.gov/state/la/index.htm
21                     Maine  https://www.nps.gov/state/me/index.htm
22                  Maryland  https://www.nps.gov/state/md/index.htm
23             Massachusetts  https://www.nps.gov/state/ma/index.htm
24                  Michigan  https://www.nps.gov/state/mi/index.htm
25                 Minnesota  https://www.nps.gov/state/mn/index.htm
26               Mississippi  https://www.nps.gov/state/ms/index.htm
27                  Missouri  https://www.nps.gov/state/mo/index.htm
28                   Montana  https://www.nps.gov/state/mt/index.htm
29                  Nebraska  https://www.nps.gov/state/ne/index.htm
30                    Nevada  https://www.nps.gov/state/nv/index.htm
31             New Hampshire  https://www.nps.gov/state/nh/index.htm
32                New Jersey  https://www.nps.gov/state/nj/index.htm
33                New Mexico  https://www.nps.gov/state/nm/index.htm
34                  New York  https://www.nps.gov/state/ny/index.htm
35            North Carolina  https://www.nps.gov/state/nc/index.htm
36              North Dakota  https://www.nps.gov/state/nd/index.htm
37  Northern Mariana Islands  https://www.nps.gov/state/mp/index.htm
38                      Ohio  https://www.nps.gov/state/oh/index.htm
39                  Oklahoma  https://www.nps.gov/state/ok/index.htm
40                    Oregon  https://www.nps.gov/state/or/index.htm
41              Pennsylvania  https://www.nps.gov/state/pa/index.htm
42               Puerto Rico  https://www.nps.gov/state/pr/index.htm
43              Rhode Island  https://www.nps.gov/state/ri/index.htm
44            South Carolina  https://www.nps.gov/state/sc/index.htm
45              South Dakota  https://www.nps.gov/state/sd/index.htm
46                 Tennessee  https://www.nps.gov/state/tn/index.htm
47                     Texas  https://www.nps.gov/state/tx/index.htm
48                      Utah  https://www.nps.gov/state/ut/index.htm
49                   Vermont  https://www.nps.gov/state/vt/index.htm
50            Virgin Islands  https://www.nps.gov/state/vi/index.htm
51                  Virginia  https://www.nps.gov/state/va/index.htm
52                Washington  https://www.nps.gov/state/wa/index.htm
53             West Virginia  https://www.nps.gov/state/wv/index.htm
54                 Wisconsin  https://www.nps.gov/state/wi/index.htm
55                   Wyoming  https://www.nps.gov/state/wy/index.htm

## Question 3

In [73]:
myresponse = requests.get("https://books.toscrape.com/")

In [74]:
mytree = html.fromstring(myresponse.content)

In [75]:
category = [element.text.strip() for element in mytree.xpath('//li/ul/li/a')]

In [76]:
print(category)

['Travel', 'Mystery', 'Historical Fiction', 'Sequential Art', 'Classics', 'Philosophy', 'Romance', 'Womens Fiction', 'Fiction', 'Childrens', 'Religion', 'Nonfiction', 'Music', 'Default', 'Science Fiction', 'Sports and Games', 'Add a comment', 'Fantasy', 'New Adult', 'Young Adult', 'Science', 'Poetry', 'Paranormal', 'Art', 'Psychology', 'Autobiography', 'Parenting', 'Adult Fiction', 'Humor', 'Horror', 'History', 'Food and Drink', 'Christian Fiction', 'Business', 'Biography', 'Thriller', 'Contemporary', 'Spirituality', 'Academic', 'Self Help', 'Historical', 'Christian', 'Suspense', 'Short Stories', 'Novels', 'Health', 'Politics', 'Cultural', 'Erotica', 'Crime']

In [77]:
url = ["https://books.toscrape.com/" +element.attrib['href']for element in mytree.xpath('//li/ul/li/a')]

In [78]:
print(url)

['https://books.toscrape.com/catalogue/category/books/travel_2/index.html', 'https://books.toscrape.com/catalogue/category/books/mystery_3/index.html', 'https://books.toscrape.com/catalogue/category/books/historical-fiction_4/index.html', 'https://books.toscrape.com/catalogue/category/books/sequential-art_5/index.html', 'https://books.toscrape.com/catalogue/category/books/classics_6/index.html', 'https://books.toscrape.com/catalogue/category/books/philosophy_7/index.html', 'https://books.toscrape.com/catalogue/category/books/romance_8/index.html', 'https://books.toscrape.com/catalogue/category/books/womens-fiction_9/index.html', 'https://books.toscrape.com/catalogue/category/books/fiction_10/index.html', 'https://books.toscrape.com/catalogue/category/books/childrens_11/index.html', 'https://books.toscrape.com/catalogue/category/books/religion_12/index.html', 'https://books.toscrape.com/catalogue/category/books/nonfiction_13/index.html', 'https://books.toscrape.com/catalogue/category/books/music_14/index.html', 'https://books.toscrape.com/catalogue/category/books/default_15/index.html', 'https://books.toscrape.com/catalogue/category/books/science-fiction_16/index.html', 'https://books.toscrape.com/catalogue/category/books/sports-and-games_17/index.html', 'https://books.toscrape.com/catalogue/category/books/add-a-comment_18/index.html', 'https://books.toscrape.com/catalogue/category/books/fantasy_19/index.html', 'https://books.toscrape.com/catalogue/category/books/new-adult_20/index.html', 'https://books.toscrape.com/catalogue/category/books/young-adult_21/index.html', 'https://books.toscrape.com/catalogue/category/books/science_22/index.html', 'https://books.toscrape.com/catalogue/category/books/poetry_23/index.html', 'https://books.toscrape.com/catalogue/category/books/paranormal_24/index.html', 'https://books.toscrape.com/catalogue/category/books/art_25/index.html', 'https://books.toscrape.com/catalogue/category/books/psychology_26/index.html', 'https://books.toscrape.com/catalogue/category/books/autobiography_27/index.html', 'https://books.toscrape.com/catalogue/category/books/parenting_28/index.html', 'https://books.toscrape.com/catalogue/category/books/adult-fiction_29/index.html', 'https://books.toscrape.com/catalogue/category/books/humor_30/index.html', 'https://books.toscrape.com/catalogue/category/books/horror_31/index.html', 'https://books.toscrape.com/catalogue/category/books/history_32/index.html', 'https://books.toscrape.com/catalogue/category/books/food-and-drink_33/index.html', 'https://books.toscrape.com/catalogue/category/books/christian-fiction_34/index.html', 'https://books.toscrape.com/catalogue/category/books/business_35/index.html', 'https://books.toscrape.com/catalogue/category/books/biography_36/index.html', 'https://books.toscrape.com/catalogue/category/books/thriller_37/index.html', 'https://books.toscrape.com/catalogue/category/books/contemporary_38/index.html', 'https://books.toscrape.com/catalogue/category/books/spirituality_39/index.html', 'https://books.toscrape.com/catalogue/category/books/academic_40/index.html', 'https://books.toscrape.com/catalogue/category/books/self-help_41/index.html', 'https://books.toscrape.com/catalogue/category/books/historical_42/index.html', 'https://books.toscrape.com/catalogue/category/books/christian_43/index.html', 'https://books.toscrape.com/catalogue/category/books/suspense_44/index.html', 'https://books.toscrape.com/catalogue/category/books/short-stories_45/index.html', 'https://books.toscrape.com/catalogue/category/books/novels_46/index.html', 'https://books.toscrape.com/catalogue/category/books/health_47/index.html', 'https://books.toscrape.com/catalogue/category/books/politics_48/index.html', 'https://books.toscrape.com/catalogue/category/books/cultural_49/index.html', 'https://books.toscrape.com/catalogue/category/books/erotica_50/index.html', 'https://books.toscrape.com/catalogue/category/books/crime_51/index.html']

In [79]:
genreDF = pd.DataFrame({"Category" : category, "URL" : url})

In [80]:
genreDF

              Category                                                URL
0               Travel  https://books.toscrape.com/catalogue/category/...
1              Mystery  https://books.toscrape.com/catalogue/category/...
2   Historical Fiction  https://books.toscrape.com/catalogue/category/...
3       Sequential Art  https://books.toscrape.com/catalogue/category/...
4             Classics  https://books.toscrape.com/catalogue/category/...
5           Philosophy  https://books.toscrape.com/catalogue/category/...
6              Romance  https://books.toscrape.com/catalogue/category/...
7       Womens Fiction  https://books.toscrape.com/catalogue/category/...
8              Fiction  https://books.toscrape.com/catalogue/category/...
9            Childrens  https://books.toscrape.com/catalogue/category/...
10            Religion  https://books.toscrape.com/catalogue/category/...
11          Nonfiction  https://books.toscrape.com/catalogue/category/...
12               Music  https://books.toscrape.com/catalogue/category/...
13             Default  https://books.toscrape.com/catalogue/category/...
14     Science Fiction  https://books.toscrape.com/catalogue/category/...
15    Sports and Games  https://books.toscrape.com/catalogue/category/...
16       Add a comment  https://books.toscrape.com/catalogue/category/...
17             Fantasy  https://books.toscrape.com/catalogue/category/...
18           New Adult  https://books.toscrape.com/catalogue/category/...
19         Young Adult  https://books.toscrape.com/catalogue/category/...
20             Science  https://books.toscrape.com/catalogue/category/...
21              Poetry  https://books.toscrape.com/catalogue/category/...
22          Paranormal  https://books.toscrape.com/catalogue/category/...
23                 Art  https://books.toscrape.com/catalogue/category/...
24          Psychology  https://books.toscrape.com/catalogue/category/...
25       Autobiography  https://books.toscrape.com/catalogue/category/...
26           Parenting  https://books.toscrape.com/catalogue/category/...
27       Adult Fiction  https://books.toscrape.com/catalogue/category/...
28               Humor  https://books.toscrape.com/catalogue/category/...
29              Horror  https://books.toscrape.com/catalogue/category/...
30             History  https://books.toscrape.com/catalogue/category/...
31      Food and Drink  https://books.toscrape.com/catalogue/category/...
32   Christian Fiction  https://books.toscrape.com/catalogue/category/...
33            Business  https://books.toscrape.com/catalogue/category/...
34           Biography  https://books.toscrape.com/catalogue/category/...
35            Thriller  https://books.toscrape.com/catalogue/category/...
36        Contemporary  https://books.toscrape.com/catalogue/category/...
37        Spirituality  https://books.toscrape.com/catalogue/category/...
38            Academic  https://books.toscrape.com/catalogue/category/...
39           Self Help  https://books.toscrape.com/catalogue/category/...
40          Historical  https://books.toscrape.com/catalogue/category/...
41           Christian  https://books.toscrape.com/catalogue/category/...
42            Suspense  https://books.toscrape.com/catalogue/category/...
43       Short Stories  https://books.toscrape.com/catalogue/category/...
44              Novels  https://books.toscrape.com/catalogue/category/...
45              Health  https://books.toscrape.com/catalogue/category/...
46            Politics  https://books.toscrape.com/catalogue/category/...
47            Cultural  https://books.toscrape.com/catalogue/category/...
48             Erotica  https://books.toscrape.com/catalogue/category/...
49               Crime  https://books.toscrape.com/catalogue/category/...

## Question 4

In [81]:
myresponse = requests.get("https://www.gocomics.com/peanuts/1970/06/22")

In [82]:
mytree = html.fromstring(myresponse.content)

In [83]:
[element.attrib['src'] for element in mytree.xpath('//img[@alt = "Peanuts Comic Strip for June 22, 1970 "]')]

['https://assets.amuniversal.com/2181aa70f895013014ff001dd8b71c47']

In [84]:
#Comic for February 18, 2003
myresponse = requests.get("https://www.gocomics.com/peanuts/2003/02/18")
mytree = html.fromstring(myresponse.content)

In [85]:
[element.attrib['src'] for element in mytree.xpath('//img[@alt="Peanuts Comic Strip for February 18, 2003 "]')]

['https://assets.amuniversal.com/6bee4a20f7d001301445001dd8b71c47']

In [86]:
#Comic for January 5, 1985
myresponse = requests.get("https://www.gocomics.com/peanuts/1985/01/05")
mytree = html.fromstring(myresponse.content)

In [87]:
[element.attrib['src'] for element in mytree.xpath('//img[@alt="Peanuts Comic Strip for January 05, 1985 "]')]

['https://assets.amuniversal.com/ef9dfa80fb8e0130174f001dd8b71c47']

## Question 5

In [88]:
myresponse = requests.get("https://www.nps.gov/state/in/index.htm")

In [89]:
mytree = html.fromstring(myresponse.content)

In [90]:
types = [element.text for element in mytree.xpath('//div[@class="list_left"]/p[@class="list_left__kicker"]')]

In [91]:
print(types)

['National Historical Park', 'National Park', 'National Historic Trail', 'National Memorial']

In [92]:
names = [element.text for element in mytree.xpath('//div[@class="list_left"]/h3/a')]

In [93]:
print(names)

['George Rogers Clark', 'Indiana Dunes', 'Lewis & Clark', 'Lincoln Boyhood']

In [94]:
locations = [element.text for element in mytree.xpath('//div[@class="list_left"]/p[@class="list_left__subtitle"]')]

In [95]:
print(locations)

['Vincennes, IN ', 'Porter, IN ', 'Sixteen States: IA,ID,IL,IN,KS,KY,MO,MT,NE,ND,OH,OR,PA,SD,WA,WV ', 'Lincoln City, IN ']

In [96]:
nationalParkDF = pd.DataFrame({"Type": types, "Name": names, "Location": locations})

In [97]:
nationalParkDF

,Type,Name,Location
0,National Historical Park,George Rogers Clark,"Vincennes, IN"
1,National Park,Indiana Dunes,"Porter, IN"
2,National Historic Trail,Lewis & Clark,"Sixteen States: IA,ID,IL,IN,KS,KY,MO,MT,NE,ND,..."
3,National Memorial,Lincoln Boyhood,"Lincoln City, IN"

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together – We are Purdue.