# Project 03 -- Anthony Micco

**TA Help:** N/A
    
**Collaboration:** N/A

## Question 1

In [1]:
import pandas as pd
from pathlib import Path
# finding out how many years are in dataset
year_files = []

for file in Path(f'/anvil/projects/tdm/data/noaa').iterdir():
    if file.is_file():
        year_files.append(file)

print(len(year_files))
print(year_files)

266
[PosixPath('/anvil/projects/tdm/data/noaa/1957.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1972.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1854.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1902.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1878.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1775.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1808.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1966.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1981.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1863.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1911.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1887.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1769.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1935.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1784.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1817.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1832.csv'), PosixPath('/anvil/projects/tdm/data/noaa/2007.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1990.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1999.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1896.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1929.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1944.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1793.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1826.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1841.csv'), PosixPath('/anvil/projects/tdm/data/noaa/2016.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1953.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1850.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1977.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1859.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1874.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1907.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1922.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1771.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1804.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1962.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1986.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1868.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1883.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1916.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1765.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1931.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1780.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1813.csv'), PosixPath('/anvil/projects/tdm/data/noaa/2003.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1789.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1837.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1995.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1892.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1925.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1940.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1822.csv'), PosixPath('/anvil/projects/tdm/data/noaa/2012.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1949.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1798.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1846.csv'), PosixPath('/anvil/projects/tdm/data/noaa/2021.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1958.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1973.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1855.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1870.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1903.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1800.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1879.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1776.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1809.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1967.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1982.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1864.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1912.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1888.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1936.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1785.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1818.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1833.csv'), PosixPath('/anvil/projects/tdm/data/noaa/2008.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1991.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1897.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1945.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1794.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1960.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1827.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1842.csv'), PosixPath('/anvil/projects/tdm/data/noaa/2017.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1954.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1851.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1978.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1875.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1908.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1772.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1805.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1820.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1963.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1860.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1987.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1869.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1884.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1917.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1766.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1932.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1781.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1814.csv'), PosixPath('/anvil/projects/tdm/data/noaa/2004.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1838.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1996.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1893.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1926.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1941.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1790.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1823.csv'), PosixPath('/anvil/projects/tdm/data/noaa/2013.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1799.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1847.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1950.csv'), PosixPath('/anvil/projects/tdm/data/noaa/2022.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1959.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1974.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1856.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1871.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1904.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1801.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1777.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1968.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1983.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1865.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1880.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1913.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1810.csv'), PosixPath('/anvil/projects/tdm/data/noaa/2000.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1889.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1937.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1786.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1819.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1834.csv'), PosixPath('/anvil/projects/tdm/data/noaa/2009.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1992.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1898.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1946.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1795.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1961.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1828.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1843.csv'), PosixPath('/anvil/projects/tdm/data/noaa/2018.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1955.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1970.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1852.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1900.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1979.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1876.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1909.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1773.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1806.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1964.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1861.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1988.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1885.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1918.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1767.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1933.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1782.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1815.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1830.csv'), PosixPath('/anvil/projects/tdm/data/noaa/2005.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1839.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1997.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1894.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1927.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1942.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1791.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1824.csv'), PosixPath('/anvil/projects/tdm/data/noaa/2014.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1848.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1951.csv'), PosixPath('/anvil/projects/tdm/data/noaa/2023.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1975.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1857.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1872.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1905.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1920.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1802.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1778.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1969.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1984.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1866.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1881.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1914.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1763.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1811.csv'), PosixPath('/anvil/projects/tdm/data/noaa/2001.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1938.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1787.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1835.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1993.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1890.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1923.csv'), PosixPath('/anvil/projects/tdm/data/noaa/2010.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1899.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1947.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1796.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1829.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1844.csv'), PosixPath('/anvil/projects/tdm/data/noaa/2019.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1956.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1971.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1853.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1901.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1750.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1877.csv'), PosixPath('/anvil/projects/tdm/data/noaa/status-by_year.txt'), PosixPath('/anvil/projects/tdm/data/noaa/1774.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1807.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1965.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1980.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1862.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1910.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1989.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1886.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1919.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1768.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1934.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1783.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1816.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1831.csv'), PosixPath('/anvil/projects/tdm/data/noaa/2006.csv'), PosixPath('/anvil/projects/tdm/data/noaa/2020_sample.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1998.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1895.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1928.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1943.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1792.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1825.csv'), PosixPath('/anvil/projects/tdm/data/noaa/readme-by_year.txt'), PosixPath('/anvil/projects/tdm/data/noaa/1840.csv'), PosixPath('/anvil/projects/tdm/data/noaa/2015.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1849.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1952.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1976.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1858.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1873.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1906.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1921.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1770.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1803.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1779.csv'), PosixPath('/anvil/projects/tdm/data/noaa/2020_sampleB.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1985.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1867.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1882.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1915.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1764.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1930.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1812.csv'), PosixPath('/anvil/projects/tdm/data/noaa/2002.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1939.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1788.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1836.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1994.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1891.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1924.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1821.csv'), PosixPath('/anvil/projects/tdm/data/noaa/2011.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1948.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1797.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1845.csv'), PosixPath('/anvil/projects/tdm/data/noaa/2020.csv')]

In [2]:
#Finding what the content of the data is
random_year = pd.read_csv(f"/anvil/projects/tdm/data/noaa/1900.csv")
print(random_year.head)

<bound method NDFrame.head of          AGE00135039  19000101  TMAX  240 Unnamed: 4 Unnamed: 5  E  Unnamed: 7
0        AGE00135039  19000101  TMIN  140        NaN        NaN  E         NaN
1        AGE00135039  19000101  PRCP    0        NaN        NaN  E         NaN
2        AGE00147705  19000101  TMAX  254        NaN        NaN  E         NaN
3        AGE00147705  19000101  TMIN  153        NaN        NaN  E         NaN
4        AGE00147705  19000101  PRCP    2        NaN        NaN  E         NaN
...              ...       ...   ...  ...        ...        ... ..         ...
4608130  UZM00038457  19001231  TMIN   20        NaN        NaN  r         NaN
4608131  UZM00038457  19001231  PRCP    0        NaN        NaN  r         NaN
4608132  UZM00038457  19001231  TAVG   57        NaN        NaN  r         NaN
4608133  UZM00038618  19001231  PRCP    0        NaN        NaN  r         NaN
4608134  UZM00038618  19001231  TAVG    0        NaN        NaN  r         NaN

[4608135 rows x 8 columns]>

In [3]:
#Using list comprehension to put the years 1880-1883 into a list 
myfiles = [file for file in Path(f"/anvil/projects/tdm/data/noaa").iterdir() for year in range(1880,1884) if file==Path(f"/anvil/projects/tdm/data/noaa/{year}.csv")]
print(myfiles)

[PosixPath('/anvil/projects/tdm/data/noaa/1883.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1880.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1881.csv'), PosixPath('/anvil/projects/tdm/data/noaa/1882.csv')]

A) There are 262 years in the data set (Two 2020 files and two read me files). The content of the weather describes weather data such as precipitation, max and min temperature as well as average temperature.

## Question 2

In [4]:
# calculating how many records are in the 1880 .csv file
file = Path('/anvil/projects/tdm/data/noaa/1880.csv')
with open(file,"r") as f:
    mycount = 0
    for line in f:
        mycount += 1
print(f'There are {mycount} records in the file called {file}')

There are 370779 records in the file called /anvil/projects/tdm/data/noaa/1880.csv

In [5]:
#Calculating how many records are in the 1880-1883 .csv files altogether
mycount = 0
for year in range(1880,1884):
    file = Path(f'/anvil/projects/tdm/data/noaa/{year}.csv')
    with open(file,"r") as f:
        for line in f:
            mycount += 1
   
print(f'There are {mycount} records in the 4 files altogether')

There are 1906862 records in the 4 files altogether

## Question 3

In [6]:
# Examining the head and tail of mylist[0]
myDF = pd.read_csv(myfiles[0])

In [7]:
myDF.columns

Index(['AGE00135039', '18830101', 'PRCP', '0', 'Unnamed: 4', 'Unnamed: 5', 'E',
       'Unnamed: 7'],
      dtype='object')

In [8]:
myDF.head

<bound method NDFrame.head of         AGE00135039  18830101  PRCP   0 Unnamed: 4 Unnamed: 5  E  Unnamed: 7
0       AGE00147705  18830101  PRCP   0        NaN        NaN  E         NaN
1       AGE00147708  18830101  PRCP   0        NaN        NaN  E         NaN
2       AGE00147709  18830101  PRCP   0        NaN        NaN  E         NaN
3       AGE00147711  18830101  PRCP   0        NaN        NaN  E         NaN
4       AGE00147712  18830101  PRCP   0        NaN        NaN  E         NaN
...             ...       ...   ...  ..        ...        ... ..         ...
578724  UZM00038457  18831231  PRCP   0        NaN        NaN  r         NaN
578725  UZM00038457  18831231  TAVG -69        NaN        NaN  r         NaN
578726  UZM00038618  18831231  TMIN -22        NaN        NaN  r         NaN
578727  UZM00038618  18831231  PRCP   0        NaN        NaN  r         NaN
578728  UZM00038618  18831231  TAVG   1        NaN        NaN  r         NaN

[578729 rows x 8 columns]>

In [9]:
myDF.tail

<bound method NDFrame.tail of         AGE00135039  18830101  PRCP   0 Unnamed: 4 Unnamed: 5  E  Unnamed: 7
0       AGE00147705  18830101  PRCP   0        NaN        NaN  E         NaN
1       AGE00147708  18830101  PRCP   0        NaN        NaN  E         NaN
2       AGE00147709  18830101  PRCP   0        NaN        NaN  E         NaN
3       AGE00147711  18830101  PRCP   0        NaN        NaN  E         NaN
4       AGE00147712  18830101  PRCP   0        NaN        NaN  E         NaN
...             ...       ...   ...  ..        ...        ... ..         ...
578724  UZM00038457  18831231  PRCP   0        NaN        NaN  r         NaN
578725  UZM00038457  18831231  TAVG -69        NaN        NaN  r         NaN
578726  UZM00038618  18831231  TMIN -22        NaN        NaN  r         NaN
578727  UZM00038618  18831231  PRCP   0        NaN        NaN  r         NaN
578728  UZM00038618  18831231  TAVG   1        NaN        NaN  r         NaN

[578729 rows x 8 columns]>

In [10]:
#Correcting the mistake in  question 3A
myDF = pd.read_csv(myfiles[0],header=None)

In [11]:
myDF.columns

Index([0, 1, 2, 3, 4, 5, 6, 7], dtype='int64')

In [12]:
pd.read_csv(myfiles[0],names = ["id","date","element_code","value","mflag","qflag","sflag","obstime"])

                 id      date element_code  value mflag qflag sflag  obstime
0       AGE00135039  18830101         PRCP      0   NaN   NaN     E      NaN
1       AGE00147705  18830101         PRCP      0   NaN   NaN     E      NaN
2       AGE00147708  18830101         PRCP      0   NaN   NaN     E      NaN
3       AGE00147709  18830101         PRCP      0   NaN   NaN     E      NaN
4       AGE00147711  18830101         PRCP      0   NaN   NaN     E      NaN
...             ...       ...          ...    ...   ...   ...   ...      ...
578725  UZM00038457  18831231         PRCP      0   NaN   NaN     r      NaN
578726  UZM00038457  18831231         TAVG    -69   NaN   NaN     r      NaN
578727  UZM00038618  18831231         TMIN    -22   NaN   NaN     r      NaN
578728  UZM00038618  18831231         PRCP      0   NaN   NaN     r      NaN
578729  UZM00038618  18831231         TAVG      1   NaN   NaN     r      NaN

[578730 rows x 8 columns]

In [15]:
#creating the mydataframes list
mydataframes = []
for i in range(0,4):
    mydataframes.append(pd.read_csv(myfiles[i],names = ["id","date","element_code","value","mflag","qflag","sflag","obstime"]))

In [27]:
#Checking to make sure the list appended correctly
mydataframes[0].shape

(578730, 8)

In [23]:
mydataframes[1].shape

(370779, 8)

In [22]:
mydataframes[2].shape

(443270, 8)

In [24]:
mydataframes[3].shape

(514083, 8)

In [26]:
#Checking to see the column names of each dataframe in list
for i in range(0,4):
    print(mydataframes[i].columns)

Index(['id', 'date', 'element_code', 'value', 'mflag', 'qflag', 'sflag',
       'obstime'],
      dtype='object')
Index(['id', 'date', 'element_code', 'value', 'mflag', 'qflag', 'sflag',
       'obstime'],
      dtype='object')
Index(['id', 'date', 'element_code', 'value', 'mflag', 'qflag', 'sflag',
       'obstime'],
      dtype='object')
Index(['id', 'date', 'element_code', 'value', 'mflag', 'qflag', 'sflag',
       'obstime'],
      dtype='object')

A) When looking at the column names, there are multiple columns that are unamed and many of the columns do not have data in them. 

B)The column names are now just the numbers 0-7.

## Question 4

In [29]:
# Finding the unique elements of element_code
for i in range(0,4):
    print(mydataframes[i]["element_code"].unique())

['PRCP' 'TMAX' 'TMIN' 'TAVG' 'SNOW' 'SNWD' 'DAPR' 'DWPR' 'MDPR' 'MDSF'
 'WT11' 'DATN' 'DATX' 'MDTN' 'MDTX' 'WT03' 'DASF' 'WT18' 'WT04' 'WT16'
 'WT08']
['PRCP' 'TMAX' 'TMIN' 'SNOW' 'SNWD' 'TAVG' 'MDPR' 'DATN' 'DATX' 'MDTN'
 'MDTX' 'DAPR' 'DWPR' 'MDSF' 'WT01' 'TOBS' 'WT04' 'WT05']
['PRCP' 'TMAX' 'TMIN' 'TAVG' 'SNOW' 'SNWD' 'MDPR' 'MDSF' 'DATN' 'DATX'
 'MDTN' 'MDTX' 'WT04' 'DAPR' 'DWPR' 'TOBS']
['PRCP' 'TMAX' 'TMIN' 'TAVG' 'SNOW' 'SNWD' 'DATN' 'DATX' 'MDTN' 'MDTX'
 'DAPR' 'DWPR' 'MDPR' 'MDSF' 'WT04' 'TOBS' 'WT05' 'WT03' 'WT16' 'WT18'
 'DASF']

In [30]:
#Finding the number of times SNOW occurs in element_code
for myDF in mydataframes:
    print(myDF["element_code"].value_counts()["SNOW"])

53417
33700
36451
40648

## Question 5

In [32]:
# Prework for question
myfiles=[]
for year in range (1880, 1884):
    file= Path(f'/anvil/projects/tdm/data/noaa/{year}.csv')
    myfiles.append(file)

In [33]:
#Version 1 of Program 
count = 0
for file in myfiles:
    for myDF in pd.read_csv(file,names=["id","date","element_code","value","mflag","qflag","sflag","obstime"],chunksize =10000):
        count += len(myDF[myDF['element_code'] == 'SNOW'])

print(count)

164216

In [34]:
#Version 2 of Program
count = 0
for file in myfiles:
    for myDF in pd.read_csv(file,names=["id","date","element_code","value","mflag","qflag","sflag","obstime"],chunksize =10000):
        for index, row in myDF.iterrows():
            if row['element_code'] == 'SNOW':
                count += 1

print(count)

164216

A) By using chunksize, we can separate the number of rows read from a dataframe into "chunks" instead of reading them all at once. By doing this, we can separate huge sets of data into smaller sets and make reading data more efficient.

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together – We are Purdue.